# Ignore Gradle-related files
.gradle/
build/
!build/libs/*.jar  # Allow only built JAR files

# Ignore local environment files
.env
*.log
*.tmp

# Ignore IDE/editor config files
.vscode/
.idea/
*.iml

# Ignore OS files
.DS_Store
Thumbs.db
